term-2/p1-extended-kalman-filter/kalman_tracker*

term-2/sensor-fusion-utilities-mercedes/

term-2/p2-unscented-kalman-filter/build/

term-2/uWebSockets-0.13.0/

term-2/p3-kidnapped-vehicle/build/

term-2/p4-pid-control/build/
term-2/p4-pid-control/uWebSockets/
term-2/p4-pid-control/*.mov
term-2/p4-pid-control/install*

term-2/p5-model-predictive-control/build/
term-2/p5-model-predictive-control/install*

term-2/sensor-fusion-ekf-reference.pdf

term-2/CarND*

p3-behavioural-cloning/data*
p3-behavioural-cloning/model-*
p3-behavioural-cloning/tmp/
p3-behavioural-cloning/archive/

.idea/

*.zip

p1-lane-lines/annotated-videos/

*.h5

*.gz

*.pyc

*.npy

*.p

*.mp4

p5-vehicle-detection/vehicles/
p5-vehicle-detection/non-vehicles/
p5-vehicle-detection/hogviz/
p5-vehicle-detection/examples/
p5-vehicle-detection/output_images/
p5-vehicle-detection/archive/

SDCND_StudentHandbook_v2.pdf

*/.ipynb_checkpoints/*

.DS_Store

.ipynb_checkpoints/

term-2/p1-extended-kalman-filter/.DS_Store

term-2/p1-extended-kalman-filter/build/

term-2/p1-extended-kalman-filter/.vscode/

term-2/p1-extended-kalman-filter-archive/
